
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color:rgb(229, 147, 161);
    font-size: 20px;
}
section {
    background-color: #486171;
    padding: 20px;
    text-align: center;
}

h1 {
    color: rgb(69, 245, 245);
}
